@font-face {
  font-family: 'ProximaNovaBold';
  src: url('../fonts/ProximaNova-Bold/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold/ProximaNova-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaLight';
  src: url('../fonts/ProximaNova-Light/ProximaNova-Light.eot');
  src: url('../fonts/ProximaNova-Light/ProximaNova-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Light/ProximaNova-Light.woff') format('woff'), url('../fonts/ProximaNova-Light/ProximaNova-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaRegular';
  src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: 'ProximaNovaRegular', Arial, sans-serif !important;
  font-size: 14px;
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 36px;
  font-family: 'ProximaNovaBold', Arial, sans-serif !important;
}
h3 {
  font-size: 24px;
  margin-top: 0;
  font-family: 'ProximaNovaRegular', Arial, sans-serif !important;
}
p {
  font-size: 18px;
  font-family: 'ProximaNovaRegular', Arial, sans-serif !important;
}
/* ----- Form ----- */
.ww-form .form-group {
  width: 495px;
  margin-left: auto;
  margin-right: auto;
}
.ww-form input {
  font-size: 14px;
}
.ww-form button {
  width: 207px;
  height: 48px;
  font-size: 18px;
}
@media (min-width: 768px) {
  .ww-form button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
.ww-form .form-control {
  width: 288px;
  height: 48px;
  float: left;
  border-radius: 0;
  padding-left: 20px;
}
@media (min-width: 480px) and (max-width: 768px) {
  .ww-form input {
    margin-bottom: 30px;
    text-align: center;
  }
  .ww-form .form-group {
    width: 301px;
  }
  .ww-form .form-control {
    width: 301px;
    float: none;
  }
  .ww-form button {
    width: 217px;
  }
}
/* ----- Main Section ----- */
#main {
  text-align: center;
  background: linear-gradient(45deg, #29116d, #5c4789);
  color: white;
}
#main .mainContent {
  padding-top: 95px;
  padding-bottom: 95px;
}
#main .mainContent #mainLogo {
  width: 220px;
  height: 30px;
  background: url('../images/icons/joomag-love-wework.svg') no-repeat;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
@media (min-width: 480px) and (max-width: 768px) {
  #main .mainContent #mainLogo {
    background: url('../images/icons/joomag-love-wework-mobile.svg') no-repeat;
  }
}
#main .mainContent h1 {
  margin: 0 0;
  margin-bottom: 35px;
}
/* ----- Trusted By Section ----- */
#trustedBy {
  margin-top: 100px;
  margin-bottom: 100px;
}
#trustedBy h3 {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0;
}
#trustedBy .logos .logo-block {
  position: relative;
  width: 125px;
  height: 68px;
  float: left;
}
#trustedBy .logos .logo-block:not(:last-child) {
  margin-right: 30px;
}
@media (min-width: 768px) and (max-width: 992px) {
  #trustedBy .logos .logo-block:not(:last-child) {
    margin-right: 23px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  #trustedBy .logos .logo-block:not(:last-child) {
    margin-right: 38px;
  }
}
#trustedBy .logos .logo-block:last-child {
  margin-right: 0;
}
#trustedBy .logos .logo-block #trustedBy1,
#trustedBy .logos .logo-block #trustedBy2,
#trustedBy .logos .logo-block #trustedBy3,
#trustedBy .logos .logo-block #trustedBy4,
#trustedBy .logos .logo-block #trustedBy5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
#trustedBy .logos .logo-block #walmart {
  background-image: url('../images/icons/walmart.svg');
  background-position: top 50% left 50%;
  background-repeat: no-repeat;
  width: 120px;
  height: 36px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}
#trustedBy .logos .logo-block #bbb {
  background-image: url('../images/icons/bbb.svg');
  background-position: top 50% left 50%;
  background-repeat: no-repeat;
  width: 40px;
  height: 67px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}
#trustedBy .logos .logo-block #ernst {
  background-image: url('../images/icons/ernest-brothers.svg');
  background-position: top 50% left 50%;
  background-repeat: no-repeat;
  width: 59px;
  height: 68px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}
#trustedBy .logos .logo-block #warner {
  background-image: url('../images/icons/warner-brothers.svg');
  background-position: top 50% left 50%;
  background-repeat: no-repeat;
  width: 55px;
  height: 66px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}
#trustedBy .logos .logo-block #mini {
  background-image: url('../images/icons/mini.svg');
  background-position: top 50% left 50%;
  background-repeat: no-repeat;
  width: 115px;
  height: 51px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}
#trustedBy .logos .logo-block #marriott {
  background-image: url('../images/icons/marriott.svg');
  background-position: top 50% left 50%;
  background-repeat: no-repeat;
  width: 120px;
  height: 40px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}
#trustedBy .logos .logo-block #jll {
  background-image: url('../images/icons/jll.svg');
  background-position: top 50% left 50%;
  background-repeat: no-repeat;
  width: 100px;
  height: 37px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}
#trustedBy .logos .logo-block #levis {
  background-image: url('../images/icons/levis.svg');
  background-position: top 50% left 50%;
  background-repeat: no-repeat;
  width: 104px;
  height: 35px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}
#trustedBy .logos .logo-block #costa-coffee {
  background-image: url('../images/icons/costa-coffee.svg');
  background-position: top 50% left 50%;
  background-repeat: no-repeat;
  width: 68px;
  height: 68px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}
#trustedBy .logos .logo-block #reimax {
  background-image: url('../images/icons/remax.svg');
  background-position: top 50% left 50%;
  background-repeat: no-repeat;
  width: 110px;
  height: 27px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}
/* ----- Exclusive WeWork Offer Section ----- */
#ExclusiveWeWorkOffer {
  width: 100%;
  height: 535px;
  text-align: center;
  transform: skewY(-4deg);
  background: url('../images/image-we-work.jpg') bottom -43px left -282px no-repeat;
  color: white;
}
#ExclusiveWeWorkOffer #ExclusiveWeWorkOffer2 {
  width: 100%;
  height: 535px;
  background: linear-gradient(45deg, rgba(41, 17, 109, 0.9), rgba(92, 71, 137, 0.9));
}
#ExclusiveWeWorkOffer #ExclusiveWeWorkOfferContent {
  padding-top: 190px;
  padding-bottom: 190px;
  transform: skewY(4deg);
}
#ExclusiveWeWorkOffer #ExclusiveWeWorkOfferContent h1,
#ExclusiveWeWorkOffer #ExclusiveWeWorkOfferContent h3 {
  margin-bottom: 35px;
  margin-top: 0;
}
@media (min-width: 480px) and (max-width: 768px) {
  #ExclusiveWeWorkOffer #ExclusiveWeWorkOfferContent {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  #ExclusiveWeWorkOffer {
    height: 627px;
    background: url('../images/image-we-work@2x.jpg') bottom 31% left 53% no-repeat;
  }
  #ExclusiveWeWorkOffer #ExclusiveWeWorkOffer2 {
    height: 627px;
  }
}
/* ----- Features Section ----- */
#features .featureContent {
  margin-top: 100px;
}
#features .featureContent .container:not(:last-child) {
  margin-bottom: 100px;
}
#features .featureContent .container:last-child {
  margin-bottom: 50px;
}
#features .featureContent .container h1 {
  margin-top: 0;
  margin-bottom: 20px;
}
#features .featureContent .container p {
  width: 462px;
  line-height: 30px;
}
@media (min-width: 480px) and (max-width: 768px) {
  #features .featureContent .container p {
    width: auto;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #features .featureContent .container p {
    width: 351px;
  }
}
#features .featureContent .container .feature {
  padding: 0 !important;
}
@media (min-width: 768px) {
  #features .featureContent .container .feature #leadGeneration,
  #features .featureContent .container .feature #distribute {
    text-align: right;
  }
  #features .featureContent .container .feature #leadGeneration p,
  #features .featureContent .container .feature #distribute p {
    float: right;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  #features .featureContent .container .feature #feature1,
  #features .featureContent .container .feature #feature2,
  #features .featureContent .container .feature #feature3,
  #features .featureContent .container .feature #feature4,
  #features .featureContent .container .feature #feature5 {
    text-align: center;
    margin-top: 50px;
  }
}
#features .featureContent .container #feature1Image {
  background-image: url('../images/icons/creation.svg');
  background-repeat: no-repeat;
  width: 368px;
  height: 182px;
}
@media (min-width: 480px) and (max-width: 992px) {
  #features .featureContent .container #feature1Image {
    background-image: url('../images/icons/creation.svg');
    background-repeat: no-repeat;
    width: 290px;
    height: 143px;
  }
}
#features .featureContent .container #feature2Image {
  background-image: url('../images/icons/lead-generation.svg');
  background-repeat: no-repeat;
  width: 272px;
  height: 167px;
}
@media (min-width: 480px) and (max-width: 992px) {
  #features .featureContent .container #feature2Image {
    background-image: url('../images/icons/lead-generation.svg');
    background-repeat: no-repeat;
    width: 246px;
    height: 150px;
  }
}
#features .featureContent .container #feature3Image {
  background-image: url('../images/icons/collaboration.svg');
  background-repeat: no-repeat;
  width: 248px;
  height: 243px;
}
@media (min-width: 768px) {
  #features .featureContent .container #feature3Image {
    margin-top: -50px;
  }
}
#features .featureContent .container #feature4Image {
  background-image: url('../images/icons/distribution.svg');
  background-repeat: no-repeat;
  width: 327px;
  height: 230px;
}
@media (min-width: 768px) and (max-width: 992px) {
  #features .featureContent .container #feature4Image {
    background-image: url('../images/icons/distribution.svg');
    background-repeat: no-repeat;
    width: 291px;
    height: 204px;
  }
}
#features .featureContent .container #feature5Image {
  background-image: url('../images/icons/analytics.svg');
  background-repeat: no-repeat;
  width: 377px;
  height: 203px;
}
@media (min-width: 768px) and (max-width: 992px) {
  #features .featureContent .container #feature5Image {
    background-image: url('../images/icons/analytics.svg');
    background-repeat: no-repeat;
    width: 289px;
    height: 156px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  #features .featureContent .container {
    width: 918px;
  }
}
/* ----- WeWork Offer Section ----- */
#WeWorkOffer {
  color: white;
  width: 100%;
  height: 605px;
  text-align: center;
  background: linear-gradient(45deg, #29116d, #5c4789);
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
}
#WeWorkOffer #WeWorkOfferContent {
  padding-top: 250px;
}
#WeWorkOffer #WeWorkOfferContent .footerBlock {
  float: none;
}
#WeWorkOffer #WeWorkOfferContent .footerBlock h3 {
  margin-bottom: 35px;
  margin-top: 0;
}
#WeWorkOffer #WeWorkOfferContent .footerBlock p {
  font-size: 14px;
  font-family: 'ProximaNovaLight', Arial, sans-serif !important;
  margin-top: 30px;
  margin-bottom: 0;
}
@media (min-width: 480px) and (max-width: 768px) {
  #WeWorkOffer #WeWorkOfferContent {
    padding-top: 180px;
  }
}
